<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">


    <bean id="jetUser" class="com.app.jetcore.main.domain.sub.JetUser" scope="prototype">
        
    </bean>
    
    <bean id="studentRegistration" class="com.app.jetcore.main.domain.sub.StudentRegistration" scope="prototype">
        
    </bean>
    
    <bean id="studentContact" class="com.app.jetcore.main.domain.sub.StudentContact" scope="prototype">
        
    </bean>
    
    <bean id="studentAcedamicDetail" class="com.app.jetcore.main.domain.sub.StudentAcedamicDetail" scope="prototype">
    
    </bean>
    
    <bean id="dateFormat" class="java.text.SimpleDateFormat" scope="singleton">
        <constructor-arg value="dd-MM-yyyy"/> 
        
    </bean>
    
    
    <bean id="map" class="java.util.HashMap" scope="prototype">
        
        
    </bean>
    <bean id="qualfMap" class="com.app.jetcore.main.utils.QualfMap">
        
    </bean>


</beans>